:root {
    --air__color-primary: rgba(0, 121, 107, 0.75);
    --air__color-primary--active: rgba(0, 121, 107, 0.9);
    --air__color-secondary: rgba(37, 113, 199, 0.9);
    --air__color-secondary--weak: rgba(37, 113, 199, 0.5);
    --air__color-secondary--gone: rgba(37, 113, 199, 0);

    --air__color-text: rgba(255, 255, 255, 0.9);
    --air__color-text--weak: rgba(255, 255, 255, 0.3);

    --air__color-inactive: rgba(170, 170, 170, 0.9);
    --air__color-success: rgba(221, 44, 0, 0.9);
    --air__color-error: rgba(12, 231, 121, 0.9);
    --air__color-warning: rgba(221, 162, 0, 0.9);

    --air__color-shadow: rgba(0, 0, 0, 0.3);
}

.air__color-primary {
    color: var(--air__color-primary);
    fill: var(--air__color-primary);
}

.air__bg-color-primary {
    background-color: var(--air__color-primary);
}

.air__color-primary--active {
    color: var(--air__color-primary--active);
    fill: var(--air__color-primary--active);
}

.air__bg-color-primary--active {
    background-color: var(--air__color-primary--active);
}

.air__color-secondary {
    color: var(--air__color-secondary);
    fill: var(--air__color-secondary);
}

.air__bg-color-secondary {
    background-color: var(--air__color-secondary);
}

.air__bg-color-secondary--weak {
    background-color: var(--air__color-secondary--weak);
}

.air__color-text {
    color: var(--air__color-text);
    fill: var(--air__color-text);
}

.air__bg-color-text {
    background-color: var(--air__color-text);
}

.air__color-text-weak {
    color: var(--air__color-text--weak);
    fill: var(--air__color-text--weak);
}

.air__bg-color-text-weak {
    background-color: var(--air__color-text--weak);
}

.air__color-inactive {
    color: var(--air__color-inactive);
    fill: var(--air__color-inactive);
}

.air__color-error {
    color: var(--air__color-error);
    fill: var(--air__color-error);
}

.air__bg-color-error {
    background-color: var(--air__color-error);
}

.air__color-warning {
    color: var(--air__color-warning);
    fill: var(--air__color-warning);
}

.air__bg-color-warning {
    background-color: var(--air__color-warning);
}