.air__update-bar {
    position: fixed;
    bottom: 0;
    height: calc(var(--margin) / 2);
    width: 100%;
    background: rgba(0, 121, 107, 0.75);
    z-index: 100;
    will-change: transform; 
    transform-origin: left;
  }