.air__flex {
    display: flex;
}

.air__flex--full {
    width: 100%;
}

.air__flex--justify-content-center {
    justify-content: center;
}

.air__flex--justify-content-space-around {
    justify-content: space-around;
}

.air__flex--align-items-center {
    align-items: center;
}

.air__flex--grow-1 {
    flex-grow: 1;
}