.air__station {
    --height: 288px;
    --width: 288px;
    --offset: calc(50% - var(--width) / 2);
    --air__color-shadow: rgba(0, 0, 0, 0.5);
    
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: var(--width);
    height: var(--height);;
    margin-top: 44px;
    position: fixed;
    top: 0;
    left: var(--offset);
    z-index: 100;
    will-change: opacity, transform, box-shadow, background-color;
    transition: background-color var(--air__animation-duration) var(--air__animation-timing), left var(--air__animation-duration) var(--air__animation-timing);
    /* box-shadow: 5px 10px 30px var(--air__color-shadow); */

    &.air__station--favboard-true {
        --offset: calc(50% - var(--width) / 2 - 160px);
    }
}

@media (min-width: 330px) {
    .air__station {
        --width: 330px;
        --height: 330px;
    }
}

.air__station-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    will-change: fill;
    transition: fill var(--air__animation-duration) var(--air__animation-timing);
    transform: scale(calc(600 / 590));
    stroke: rgba(255, 255 , 255, 0.75);
    stroke-width: 8px;
    /* clip-path: circle(180px); */
}

.a-station-enter {
    /* opacity: 0; */
    transform: scale(0);
}

.a-station-enter-active {
    /* opacity: 1; */
    transform: scale(1);
    transition: transform var(--air__animation-duration-crunchy) var(--air__animation-timing), opacity var(--air__animation-duration-crunchy) var(--air__animation-timing)
}

.a-station-exit {
    opacity: 1;
}

.a-station-exit-active {
    transition: opacity var(--air__animation-duration) var(--air__animation-timing);
}

.air__station-header {
    /* background: rgba(0, 0, 0, 0.75); */
    font-size: 20px;
    font-weight: 500;
    color: var(--air__color-text);
    letter-spacing: var(--air__letter-spacing);
    padding: 4px 40px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    width: 80vw;
    max-width: 330px;
    box-sizing: border-box;
    line-height: 1.1;
    order: 1;
}

.air__station-official-icon {
    position: absolute;
    width: 24px;
    height: 12px;
    top:(calc(50% - 60px));
    left: 20px;
}

.air__station--upperaustria {
    .air__station-header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.air__station-date {
    font-size: 12px;
    font-style: italic;
    color: var(--air__color-text);
    margin-top: -6px;
    order: 2;
    opacity: 0.8;
}

.air__station--upperaustria {
    .air__station-date{
        padding-left: 24px;
    }
}

.air__station-dust-container {
    margin-top: var(--air__margin--2);
    order: 4;
    display: flex;
    align-items: center;
}

.air__station-dust-icon {
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    fill: rgba(255, 255, 255, 0.8);
    margin-right: var(--air__margin);
}

.air__station-comp-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.air__comp--dust {
    letter-spacing: var(--air__letter-spacing--small);
    min-width: 150px;
}

.air__comp--dust-NO2 {
    order: 3;
}

.air__comp--dust-PM10 {
    order: 1;
    font-size: 16px;
}

.air__comp--dust-PM25 {
    order: 2;
}

.air__station-windtemp {
    display: flex;
    order: 3;
    margin-top: var(--air__margin);
    min-width: 130px;
    justify-content: space-between;

    .air__comp--temp {
        margin-left: var(--air__margin--2);
    }
}

.air__station-date + .air__comp-wind {
    margin-top: 0;
}

.air__action-container {
    display: flex;
    position: absolute;
    bottom: 20px;

    &.air__action-container--top {
        bottom: auto;
        top: 20px;
    }
}

.air__station-button-icon {
    width: 18px;
    height: 18px;
}

.air__station-button-icon {
    transition: fill var(--air__animation-duration) var(--air__animation-timing);
    will-change: fill;
}

.air__station-button-fav {
    .air__station-button-icon {
        fill: var(--air__color-text--gone);
    }
}

.air__station-button-fav--active {
    .air__station-button-icon {
        fill: var(--air__color-text);
    }
}

.air__station-button-notify {
    .air__station-button-icon {
        width: 24px;
        height: 24px;
        fill: var(--air__color-text--gone);
    }
}

.air__station-button-notify--active {
    .air__station-button-icon {
        fill: var(--air__color-text);
    }
}

/*------------------------------------*\
  #SPINNER
\*------------------------------------*/

.air__station .spinner {
    position: absolute;
    height: 100%;
}

.air__station .spinner__backdrop {
    display: none;
    border-radius: 50%;
    background: transparent;
}