.air__button,
.air__button:focus,
.air__button:active {
    box-sizing: border-box;    
    padding: 4px 8px;
    min-height: 36px;
    min-width: 36px;
    border: 1px solid white;
    border-radius: 0px;
    background: rgb(46, 196, 216);
    color: white;
    box-shadow: 0;
    outline: 0;
    display: block;
    width: 100%;;
}

.air__button--naked,
.air__button--naked:focus,
.air__button--naked:active {
    border: 0;
    box-shadow: 0;
}