.air__bottom-sheet {
    --air__bottom-sheet-border-radius: calc(var(--air__border-radius) * 2);
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 48px;
    z-index: 120;
    // box-shadow: 0 0 3px var(--air__color-shadow);
    border-top-left-radius: var(--air__bottom-sheet-border-radius);
    border-top-right-radius: var(--air__bottom-sheet-border-radius);
    background: white;
    will-change: transform;
    display: flex;
    flex-direction: column;
}

.air__animation-bottom-sheet-enter {
    transform: translateY(100%);
}
  
.air__animation-bottom-sheet-enter-active {
    transform: translateY(0);
    transition: transform var(--air__animation-duration-crunchy) var(--air__animation-timing-sidebar);
}
  
.air__animation-bottom-sheet-exit {
    transform: translateY(0);
}
  
.air__animation-bottom-sheet-exit-active {
    transform: translateY(100%);
    transition: transform var(--air__animation-duration-crunchy) var(--air__animation-timing-sidebar);
}