.Notifications {
    font-size: 12px;
    list-style: none;
    margin: 0 auto;
    padding: var(--margin) calc(var(--margin) * 2);
    background: rgba(221, 44, 0, 0.9);
    color: white;
    line-height: 1.2;
    position: fixed;
    bottom: 56px;
    left: calc(50% - 150px);
    border-radius: var(--border-radius);
    width: 300px;
    z-index: 100;
}

.Notifications:after {
    content: "¯\\_(ツ)_/¯";
    position: absolute;
    bottom: 100%;
    left: 30%;
    display: inline-block;
    color: rgba(221, 44, 0, 0.9);
    font-weight: bold;
}