.Notifications {
    list-style: none;
    margin: 0;
    padding: 8px 12px;
    background: rgba(221, 44, 0, 0.9);
    color: white;
    position: fixed;
    bottom: 56px;
    left: 8px;
    border-radius: 4px;
    width: calc(100% - 16px);
}