.air__button,
.air__button:focus,
.air__button:active {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
    padding: 0 calc(var(--air__margin) * 3);
    min-height: var(--air__button-height);
    min-width: var(--air__button-width);
    border: 1px solid var(--air__color-primary);
    border-radius: 6px;
    background: var(--air__color-text);
    font-size: 12px;
    font-weight: bold;
    color: var(--air__color-primary--weak);
    box-shadow: 0;
    outline: 0;
    text-shadow: none;
    transition: color var(--air__animation-duration) var(--air__animation-timing);

    .air__button-icon {
        width: 24px;
        height: 24px;
        fill: var(--air__color-primary--weak);
        transition: fill var(--air__animation-duration) var(--air__animation-timing);
    }

    &.air__button--label {
        flex-direction: column;
        text-decoration: none;
        font-size: 11px;
    }
}

.air__button--full,
.air__button--full:focus,
.air__button--full:active {
    flex-grow: 1
}

.air__button--error,
.air__button--error:focus,
.air__button--error:active {
    color: var(--air__color-error);
    border-color: var(--air__color-error);

    .air__button-icon {
        fill: var(--air__color-error);
    }
}

.air__button--small,
.air__button--small:focus,
.air__button--small:active {
    min-height: var(--air__button-height--small);

    .air__button-icon {
        width: 16px;
        height: 16px;;
    }
}

.air__button--inactive,
.air__button--inactive:focus,
.air__button--inactive:active {
    color: var(--air__color-inactive) !important;
    pointer-events: none !important;

    .air__button-icon {
        fill: var(--air__color-inactive) !important;
    }
}

.air__button--naked,
.air__button--naked:focus,
.air__button--naked:active {
    border-color: transparent;
    box-shadow: 0;
}

.air__button--ghost,
.air__button--ghost:focus,
.air__button--ghost:active {
    background: transparent;
}

.air__button--fab,
.air__button--fab:focus,
.air__button--fab:active {
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 2px 4px -1px var(--air__color-shadow)
}

.air__button--active,
.air__button--active:focus,
.air__button--active:active {
    color: var(--air__color-primary--active);

    .air__button-icon {
        color: var(--air__color-primary--active);
        fill: var(--air__color-primary--active);
    }
}