.air__button,
.air__button:focus,
.air__button:active {
    box-sizing: border-box;    
    padding: 4px 8px;
    min-height: var(--button-height);
    min-width: var(--button-width);
    border: 1px solid white;
    border-radius: 6px;
    background: var(--color-text);
    color: rgba(0, 121, 107, 1);
    box-shadow: 0;
    outline: 0;
}

.air__button--inactive,
.air__button--inactive:focus,
.air__button--inactive:active {
    pointer-events: none;
}

.air__button--inactive svg,
.air__button--inactive:focus svg,
.air__button--inactive:active svg {
    color: var(--color-inactive);
    fill: var(--color-inactive);
}

.air__button--naked,
.air__button--naked:focus,
.air__button--naked:active {
    border: 0;
    border-radius: 0;
    box-shadow: 0;
}

.air__button--ghost,
.air__button--ghost:focus,
.air__button--ghost:active {
    background: transparent;
}

.air__button--fab,
.air__button--fab:focus,
.air__button--fab:active {
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 0 1px var(--color-primary) */
}
