.air__spinner {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
}

.air__animation-spinner-enter {
  opacity: 0;
  transition: opacity var(--air__animation-duration) var(--air__animation-timing);
}

.air__animation-spinner-enter.air__animation-spinner-enter-active {
  opacity: 1;
}

.air__animation-spinner-exit {
  opacity: 1;
}

.air__animation-spinner-exit.air__animation-spinner-exit-active {
  opacity: 0;
  transition: opacity var(--air__animation-duration) var(--air__animation-timing);
}

.air__spinner__backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0px;
}

.air__spinner__bounce {
  width: 18px;
  height: 18px;
  background-color: var(--air__color-text);
  opacity: 0.7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.air__spinner__bounce-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.air__spinner__bounce-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}