.air__loading {
  position: fixed;
  width: 160px;
  top: calc(50% - 8px);
  left: calc(50% - 80px);
  text-align: center;
  color: rgba(0, 121, 107, 1);
  background-color: var(--air__color-text);
  padding: 8px;
  border: 1px solid var(--air__color-text);
  border-radius: var(--borderRadius);
  /* box-shadow: 2px 4px 12px var(--air__color-shadow); */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  z-index: 100;
}