.air__update-bar {
    position: fixed;
    top: 0;
    height: var(--air__margin);
    width: 100%;
    background: rgba(0, 121, 107, 0.75);
    z-index: 130;
    will-change: transform; 
    transform-origin: left;
  }