.air {
  height: inherit;
  width: inherit;
  /* padding-top: 32px; */
  overflow: hidden;
}

.air__logo {
  font-size: 10px;
  color: var(--air__color-primary);
  /* background: var(--air__color-text--weak); */
  /* padding: 4px 0; */
  position: absolute;
  right: 12px;
  bottom: 56px;
  width: 56px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.air__logo-svg {
  width: 12px;
  height: 12px;
  margin-right: 1px;
  margin-top: -1px;
  background: var(--air__color-primary);
  /* padding: 3px; */
  border-radius: 15%;
}

.air__logo-svg path {
  fill: var(--air__color-text);
}

.air__station-date + .air__comp-wind {
  margin-top: 0;
}

/* ################################### */

.air__button-location,
.air__button-location:hover,
.air__button-location:active,
.air__button-location:focus,
.air__button-location:visited {
  position: fixed;
  right: calc(50% - var(--air__button-height) / 2 - 2px);
  bottom: 4px;
  z-index: 140;
  border: 2px solid white;
  padding: 0;
}

.air__button-location svg {
  width: var(--air__button-width);
  height: var(--air__button-height);
}

.air__site {
  position: fixed;
  // padding-bottom: var(--air__button-height);
  top: 0;
  right: 0;
  height: calc(100% - var(--air__button-height));
  width: 100%;
  background: rgba(255, 255, 255, 1);
  will-change: transform;
  z-index: 120;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  will-change: scroll-position;
  transform: translate3d(0, 0, 0);
}

@media(min-width: 414px) {
  .air__site {
    max-width: 100%;
  }
}

@media(min-width: 415px) {
  .air__site {
    max-width: 320px;
  }
}

.air__options-sheet {  
  max-height: 256px;
  max-width: 414px;
  bottom: 64px;
  right: var(--air__margin--3);
  left: var(--air__margin--3);
  overflow: hidden;

  &.air__animation-bottom-sheet-exit-active {
    transform: translateY(calc(100% + var(--air__margin--4)));
  }
}

@media (min-width: 415px) {
  .air__options-sheet {  
    left: auto;
    width: 414px;
  }
}

.air__options-sheet-scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.air__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // opacity: 0.75;
  z-index: -1;
  background-size: cover;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .air__background {
      background-image: url("../../icons/splash/iphone5_splash.png");
    }
    
    /* .air__background svg {
      width: 50%;
      height: 50%;
      // transform: rotate(36deg);
    } */
    
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .air__background { 
      background-image: url("../../icons/splash/iphone6_splash.png");
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .air__background {
      background-image: url("../../icons/splash/iphoneplus_splash.png");
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .air__background {
      background-image: url("../../icons/splash/iphonex_splash.png");
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .air__background {
      background-image: url("../../icons/splash/ipad_splash.png");
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .air__background {
      background-image: url("../../icons/splash/ipadpro1_splash.png");
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .air__background {
      background-image: url("../../icons/splash/ipadpro2_splash.png");
    }
}