/*
 * CUSTOM PROPERTIES
 */

:root {
  --color-primary: rgba(0, 121, 107, 0.75);
  --color-primary-active: rgba(0, 121, 107, 0.9);
  --color-secondary: rgba(37, 113, 199, 0.9);
  --color-secondary-weak: rgba(37, 113, 199, 0.5);
  --color-text: rgba(255, 255, 255, 0.9);
  --color-text-weak: rgba(255, 255, 255, 0.3);
  --margin: 0.5rem;
  --border-radius: calc(var(--margin) / 3);
  --shadow: rgba(0, 0, 0, 0.3);
  --animation-duration: 300ms;
  --animation-duration-crunchy: calc(var(--animation-duration) / 2);
  --animation-timing: ease-out;
}

.air {
  height: inherit;
  width: inherit;
  /* padding-top: 32px; */
  overflow: hidden;
}

.air__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  z-index: 0;
}

.air__background svg {
  width: 50%;
  height: 50%;
  transform: rotate(36deg);
}

.air__background path {
  fill: rgba(120, 120, 120, 0.3)
}

.air__logo {
  font-size: 10px;
  color: var(--color-primary);
  /* background: var(--color-text-weak); */
  /* padding: 4px 0; */
  position: absolute;
  right: 12px;
  bottom: 56px;
  width: 56px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.air__logo-svg {
  width: 12px;
  height: 12px;
  margin-right: 1px;
  margin-top: -1px;
  background: var(--color-primary);
  /* padding: 3px; */
  border-radius: 15%;
}

.air__logo-svg path {
  fill: var(--color-text);
}

.air__station-date + .air__comp-wind {
  margin-top: 0;
}

.air__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 44px;
  transition: transform var(--animation-duration) var(--animation-timing);
  will-change: transform;
  z-index: 50;
}

/* ################################### */

.air__button-group {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: calc(var(--margin) * 2);
  right: calc(50% - 120px);
  z-index: 100;
  width: 240px;
  border-radius: var(--borderRadius);
  overflow: hidden;
  /* box-shadow: 2px 4px 12px var(--shadow); */
}

.air__button-group .air__button {
  width: calc(33.3% - 0.5px);
}

.air__updating,
.air__loading {
  position: fixed;
  width: 140px;
  top: calc(50% - 8px);
  left: calc(50% - 70px);
  text-align: center;
  color: rgba(0, 121, 107, 1);
  background-color: var(--color-text);
  padding: 8px;
  border: 1px solid var(--color-text);
  border-radius: var(--borderRadius);
  /* box-shadow: 2px 4px 12px var(--shadow); */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  z-index: 100;
}

.air__spacer {
  flex-grow: 1;
  background: rgba(0, 121, 107, 0.75)
}

.air__animation-fade-enter,
.air__animation-fade-crunchy-enter {
  opacity: 0;
}

.air__animation-fade-enter-active,
.air__animation-fade-crunchy-enter-active {
  opacity: 1;
  transition: opacity var(--animation-duration) var(--animation-timing);
}

.air__animation-fade-crunchy-enter-active {
  transition: opacity var(--animation-duration-crunchy) var(--animation-timing);
}

.air__animation-fade-exit,
.air__animation-fade-crunchy-exit {
  opacity: 1;
}

.air__animation-fade-exit-active,
.air__animation-fade-crunchy-exit-active {
  opacity: 0;
  transition: opacity var(--animation-duration) var(--animation-timing);
}

.air__animation-fade-crunchy-exit-active {
  transition: opacity var(--animation-duration-crunchy) var(--animation-timing);
}