.air__comp {
    display: flex;
    justify-content: center;
    color: var(--air__color-text);
    line-height: 1.2;
}

.air__comp--dust .air__comp-title,
.air__comp--dust .air__comp-value {
    width: 90px;
}

.air__comp--dust .air__comp-title {
    text-align: right;
}

.air__comp--dust .air__comp-value {
    text-align: left;
    margin-left: 4px;
}

.air__comp--dust-PM10kont {
    font-size: 16px !important;
}

.air__comp--wind {
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1;
    letter-spacing: 1px;
}

.air__comp-wind-direction {
    margin-right: var(--air__margin--2);
    font-size: 12px;
    color: var(--air__color-text);
    line-height: 1.2;
    transition: transform var(--air__animation-duration) var(--air__animation-timing);
    transform-origin: center center;
    will-change: transform;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--air__color-text);
    border-radius: 50%;
}

.air__comp-wind-direction-svg,
.air__comp-temp-svg {
    width: 16px;
    height: 16px;
}

.air__comp-wind-direction-svg path,
.air__comp-temp-svg path {
    fill: var(--air__color-text);
}

.air__comp-wind-force {
    font-size: 12px;
    color: var(--air__color-text);
}

.air__comp--wind,
.air__comp--temp {
    font-size: 12px;
    
    .air__comp-unit {
        font-size: 11px;
    }
}

.air__comp--temp {
    order: 1;
    display: flex;
    align-items: center;
    line-height: 1;
    letter-spacing: 1px;
}