.air__dashboard-item {
    padding: var(--air__margin--3) var(--air__margin--3);
    text-align: left;
    /* border-bottom: 1px solid rgba(255, 255, 255, 1); */
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    will-change: border-color, background-color;
    transition: background-color var(--air__animation-duration) var(--air__animation-timing) var(--air__animation-duration);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    min-height: 72px;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  /* @media (min-width: 530px) {
    .air__dashboard-item {
      width: 50%;
    }
  }
  
  @media (min-width: 795px) {
    .air__dashboard-item {
      width: calc(100% / 3);
    }
  } */

  .air__dashboard-item-name {
    font-size: 16px;
  }

  .air__dashboard-item-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      line-height: 1;
  }

  .air__dashboard-item--description {
    flex-grow: 1;
    margin-right: var(--air__margin--2)
  }

  .air__dashboard-item-marker {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: rgba(255,255,255,0.9);
    stroke-width: 2px;
    flex-shrink: 1;
    margin-right: var(--air__margin--2);
  }

  .air__dashboard-item-marker--official {
    fill: rgba(255, 255, 255, 0.3);
    width: 16px;
    height: 16px;
  }

  .air__dashboard-item-date {
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    // max-width: 65px;
    margin-top: calc(var(--air__margin) / 2);
  }

  .air__dashboard-item-wind {
    display: flex;
    padding: calc(var(--air__margin) / 2) 0 0;
  }

  .air__dashboard-item-wiv {
    margin-right: var(--air__margin);
  }

  .air__dashboard-item-wir-svg,
  .air__dashboard-item-wir {
    width: 14px;
    height: 14px;
  }

  .air__dashboard--description {
    flex-grow: 1;
    padding-right: var(--air__margin);
  }
  
  .air__dashboard-item-content--component {
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width: 100px;
  }

  .air__dashboard-item-component {
    display: flex;
    justify-content: space-between;
    letter-spacing: var(--air__letter-spacing--small);
  }

  .air__dashboard-item-component:not(:first-child) {
    margin-top: calc(var(--air__margin) / 2);
  }

  .air__dashboard-component-content--main {
    font-size: 16px;
  }