.air__dashboard-item {
    padding: var(--air__margin--3) var(--air__margin--2);
    box-sizing: border-box;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 1px 0px 1px rgba(0, 0, 0, 0.1);
    will-change: border-color, background-color;
    transition: background-color var(--air__animation-duration) var(--air__animation-timing) var(--air__animation-duration);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 80px;
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  /* @media (min-width: 530px) {
    .air__dashboard-item {
      width: 50%;
    }
  }
  
  @media (min-width: 795px) {
    .air__dashboard-item {
      width: calc(100% / 3);
    }
  } */

  .air__dashboard-item-action {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: var(--air__margin--2);
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .air__dashboard-item-official-icon {
    width: 16px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg) scaleX(3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
  }

  .air__dashboard-item-container {
    display: flex;
    margin-top: var(--air__margin);
  }

  .air__dashboard-item-name {
    font-size: 16px;
    width: 100%;
    letter-spacing: 1.5px;
  }

  .air__dashboard-item-content {
      // display: flex;
      // flex-direction: column;
      // flex-wrap: wrap;
      // justify-content: flex-start;
      // height: 100%;
      line-height: 1;
  }

  .air__dashboard-item--description {
    display: block;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-right: var(--air__margin--2);
  }

  @media (min-width: 360px) {
    .air__dashboard-item--description {
      display: flex;
    }
  }

  .air__dashboard-item-marker {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: rgba(255,255,255,0.9);
    stroke-width: 2px;
    margin-right: var(--air__margin--2);
    flex-shrink: 0;
  }

  .air__dashboard-item-marker--official {
    fill: rgba(255, 255, 255, 0.3);
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  .air__dashboard-item-date {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    margin-right: var(--air__margin--2);
    width: 65px;
    margin-top: var(--air__margin);
  }

  @media (max-width: 359px) {
    .air__dashboard-item-date {
      width: auto;
      margin-bottom: var(--air__margin);
      margin-top: 2px;
    }
  }

  @media (min-width: 416px) {
    .air__dashboard-item-date {
      width: auto;
      margin-top: 0;
    }
  }

  .air__dashboard-item-wind {
    display: inline-flex;
    align-items: flex-start;
  }

  .air__dashboard-item-wiv {
    margin-right: var(--air__margin--3);
    display: flex;
    flex-direction: column;
  }

  .air__dashboard-item-wiv-value {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .air__dashboard-item-wiv-unit {
    font-size: 11px;
    margin-top: calc(var(--air__margin)/2);
  }

  .air__dashboard-item-wir {
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: var(--air__margin--2);
  }

  .air__dashboard-item-wir-svg {
    width: 17px;
    height: 17px;
  }

  .air__dashboard--description {
    flex-grow: 1;
    padding-right: var(--air__margin);
  }

  .air__dashboard-item-temp {
    display: inline-flex;
    align-items: center;
  }

  .air__dashboard-item-temp-container {
    display: flex;
    flex-direction: column;
  }

  .air__dashboard-item-temp-value {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .air__dashboard-item-temp-unit {
    font-size: 11px;
    margin-top: calc(var(--air__margin)/2);
  }

  .air__dashboard-item-temp-svg {
    width: 18px;
    height: 18px;
    fill: white;
    margin-right: calc(var(--air__margin)/2);
    align-self: center;
  }
  
  .air__dashboard-item-content--component {
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width: 100px;
  }

  .air__dashboard-item-component {
    display: flex;
    justify-content: space-between;
    letter-spacing: var(--air__letter-spacing--small);
  }

  .air__dashboard-item-component:not(:first-child) {
    margin-top: calc(var(--air__margin) / 2);
  }

  .air__dashboard-component-content--main {
    font-size: 16px;
  }