:root {
    --air__border-radius: var(--air__margin);
    --air__border-radius--2: var(--air__margin--2);
    --air__letter-spacing: 1px;
}

.air__letter-spacing {
    letter-spacing: var(--air__letter-spacing)
}

.air__border-radius {
    border-radius: var(--air__margin);
}

.air__border-radius-top {
    border-top-left-radius: var(--air__margin);
    border-top-right-radius: var(--air__margin);
}

.air__border-radius-top--2 {
    border-top-left-radius: var(--air__margin--2);
    border-top-right-radius: var(--air__margin--2);
}