.air__snackbar-wrapper {
    position: fixed;
    width: 100%;
    /* margin-top: 32px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--animation-duration) var(--animation-timing);
    transform: translateY(-100%);
    will-change: transform;
}

.air__snackbar-wrapper[data-show="true"] {
    transform: translateY(0);
}

.air__snackbar {
    --shadow: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    width: 100%;
    /* height: 280px; */
    padding: 8px;
    background-color: rgba(255, 0, 0, 0.7);
    box-shadow: 5px 10px 30px var(--shadow);
    color: white;
}

.air__snackbar-cta {
    padding: 8px 16px;
    margin-top: 12px;
    border: 1px solid white;
    border-radius: 6px;
}